//! **************************************************************************
// Written by: Map P.20131013 on Mon Feb 28 19:08:07 2022
//! **************************************************************************

SCHEMATIC START;
COMP "clk_50M_i" LOCATE = SITE "T9" LEVEL 1;
COMP "led_o" LOCATE = SITE "N8" LEVEL 1;
NET "clk_50M_i_BUFGP/IBUFG" BEL "clk_50M_i_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
NET "clk_50M_i_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

